@tailwind base;
@tailwind components;
@tailwind utilities;

@responsive {
    .hide-scroll-bar {
        -ms-overflow-style: none;
        scrollbar-width: none;
        -webkit-overflow-scrolling: touch;
    }

    .hide-scroll-bar::-webkit-scrollbar {
        display: none;
    }
}