@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';


@layer utilities {
    .scroll-x {
        -ms-overflow-style: none;  /* IE and Edge */
        scrollbar-width: none;  /* Firefox */
        /* scroll-behavior: smooth; */
        -webkit-overflow-scrolling: touch;
    }

    .scroll-x::-webkit-scrollbar {
        display: none;
    }
}

@layer base {
    .text-muted {
        @apply text-gray-500;
    }
}
