APP_VERSION="0.0.0-alpha"

# App Config
APP_NAME=Flixarr
APP_KEY=

DB_CONNECTION=mysql
DB_HOST=127.0.0.1
DB_PORT=3306
DB_DATABASE=laravel
DB_USERNAME=root
DB_PASSWORD=

# Development Config
APP_ENV=local
APP_DEBUG=true

MIX_DEVSERVER_IP=10.0.0.31
MIX_DEVSERVER_PORT=8000
